<body>
    




<div class="divider">
	<h1>Receiver</h1>
	
<form action="../transaction">
    <br>
	<b><label>BIC</label></b>
		<input type="text" id="n" class="n1" required><br><br>
	<label>Institution Name</label>
		<label id="Institution Name"></label><br><br>
	<label >Account Holder Number</label>
		<input type="number" id="s" class="n3" required><br><br>
    <label >Account Holder Name</label>
	<label id="receiver_name"></label><br><br>
	<input type="submit">	
    <br>	
   <!-- <button><a href="sample.html"></a></button> -->
</form>

</div>
</body>
